.main-content{
  overflow: hidden;
}

html {
	font-size: 16px;
}

body {
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
	color: #2E3031;
	font-weight: 300;
	background-color: #FCFCFC;
	overflow-x:hidden;
	@media (min-width:1030px) {
		padding-right: 0 !important;
	}
}

.page-wrap {
	overflow: hidden;
	max-width: 1600px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	transition: 0.4s;
}

a:hover {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
	width: auto;
	height: auto;
}

.lead {
	font-size: 1.125rem;
	line-height: 1.625rem;
}

.title {
	text-align: center;
	margin-bottom: 3.4rem;
}

.section-gray {
	background-color: #F4F5F6;
	padding-top: 7.4rem;
}

.text-italic {
	font-style: italic;
}

.main-content {
	padding-top: 20px !important;
}
button{
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Spectral', serif;
	color: #2F353A;
}

h1,
h2 {
	font-size: 2.5rem;
	line-height: 3rem;
	margin-bottom: 1.1rem;
	font-weight: 600;
}

h3 {
	font-size: 2.5rem;
	line-height: 3rem;
	font-weight: 500;
}

h4 {
	font-size: 2rem;
	line-height: 2.5rem;
	font-weight: 700;
}

h5 {
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 600;
}

h6 {
	font-size: 1.25rem;
	line-height: 1.5rem;
	font-weight: 600;
}

.h6 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	font-weight: 600;
}

.btn {
	font-size: 1.125rem;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 0.3125rem;
	padding: 0.8rem 3.1rem;
}

.btn-outline-white {
	color: #fff;
	border-color: #fff;
}

.btn-outline-white:hover {
	background-color: #567C8B;
	color: #fff;
	border-color: #567C8B;
}

.btn-green {
	color: #fff;
	background-color: #8BA4B4;
}

.btn-green:hover {
	background: #fff;
}

.btn-blue {
	color: #fff;
	background-color: #8BA4B4;
	border-color: #8BA4B4;
}

.btn-blue:hover {
	color: #8BA4B4;
	background-color: transparent;
}

.pre-header {
	background-color: #EDECEE;
	padding: 0.6rem 0; 
	top: 0;
	left: 0;
	right: 0;
	max-width: 1600px;
	margin: 0 auto;
}

.pre-header p {
	margin-bottom: 0;
	color: #101010;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5rem;
	margin: 0 0.7rem;
}

.header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 1.4rem 2rem 1.5rem;
	background-color: #FCFCFC;
	z-index: 1000; 
	left: 0;
	right: 0;
	max-width: 1600px;
	margin: 0 auto;

}
.overflow{
	@media (max-width:1020px) {
		overflow: hidden;
    } 
}

 

.header .right-nav>.btn {
	display: none;
	padding: 0.6rem 1.4rem;
	font-size: 1.125rem;
}

.header.fixed .right-nav>.btn {
	display: inline-block;
}

.header.fixed .user-nav {
	display: none;
}

.header.fixed .dropdown-reviews {
	margin-right: 43px;
}

.header .menu {
	display: flex;
	flex-wrap: wrap;
}

.dropdown-reviews .dropdown-toggle {
	display: flex;
	text-align: left;
	padding: 0;
	font-weight: 300;
	text-transform: none;
	color: #2E3031;
	width: 9.5625rem;
}

.dropdown-reviews:hover .dropdown-menu {
	opacity: 1;
	visibility: visible;
	transition: 0.4s;
	display: block; 
}

.dropdown-reviews .dropdown-toggle:focus {
	box-shadow: none;
}

.dropdown-reviews .dropdown-toggle:after {
	display: none;
}

.dropdown-reviews .dropdown-toggle span {
	display: block;
}

.dropdown-reviews .rating {
	font-size: 0.875rem;
	line-height: 1.5rem;
	font-weight: 600;
	margin-bottom: 0.1rem;
}

.dropdown-reviews .dropdown-toggle>div {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
}

.dropdown-reviews .text-italic {
	font-style: italic;
	font-size: 0.875rem;
	line-height: 1.1rem;
}

.header.fixed .dropdown-reviews .dropdown-menu {
	margin-top: 0.9rem;
}

.header.fixed .sub-menu {
	margin-top: 1.5rem;
}

.dropdown-reviews .dropdown-toggle img {
	margin-right: 0.4rem;
	width: 4rem;
	height: 2.5rem;
	object-fit: contain;
}

.dropdown-reviews .dropdown-menu {
	border-radius: 0;
	border: none;
	min-width: 29.1875rem;
	left: -135% !important;
	top: 100% !important;
	right: 0;
	box-shadow: 0px -2px 15px rgba(33, 37, 41, 0.15);
	background: #FCFCFC;
	padding: 3.1rem 2rem 2.1rem;
	transform: translate3d(-114px, 0, 0) !important;
	display: block;
	opacity: 0;
	visibility: hidden;
	transition: 0.4s;
}

.dropdown-reviews .dropdown-menu h5 {
	margin-bottom: 2.8rem;
}

.header .nav-wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: center; 

	@media (min-width:1023px) {
			flex:1;
	}
}

.header .header-nav {
	margin-left: 8.8rem;
}

.header .menu>li {
	text-transform: uppercase;
	font-weight: 600;
	margin-right: 2rem;
	position: relative;
	cursor: pointer;
}

.header .menu>li>a:hover:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 4rem;
}

.header .menu>li>a {
	color: #2F353A;
	position: relative;
}

.header .menu>li:hover>a {
	color: #567C8B;
}

.header .menu a {
	font-size: 0.875rem;
}

.header .right-nav {
	margin-left: auto;
	//display: none;
	align-items: center;
	@media (min-width:1023px) {
		display: flex;
}
}

.header .user-nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-right: 0.2rem;
}

.header .dropdown-lang .dropdown-toggle {
	padding: 0;
	text-transform: none;
	font-size: 0.875rem;
	color: #2F353A;
	font-weight: 400;
	display: flex;
	align-items: center;
	line-height: 1.3rem;
}

.header .dropdown-lang:hover .dropdown-toggle {
	font-weight: 600;
}

.header .dropdown-lang .dropdown-toggle:focus {
	box-shadow: none;
}

.header .dropdown-lang .dropdown-toggle:after {
	display: none;
}

.header .dropdown-lang .dropdown-menu .countries {
	border-bottom: 1px solid #575D6133;
	padding-bottom: 0.7rem;
	margin-bottom: 1.3rem;
}

.header .dropdown-lang {
	margin-left: 0.7rem;
	border-left: 1px solid #575D61;
	margin-right: -0.2rem;
	padding-left: 0.6rem;
}

.header .dropdown-lang .dropdown-menu {
	right: -0.9rem !important;
	left: auto !important;
	top: 100% !important;
	transform: translate3d(0, 0, 0) !important;
	border: none;
	background: #FCFCFC;
	box-shadow: 0px -2px 15px #21252926;
	border-radius: 0.3125rem;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-top: 2.1rem;
	min-width: 10.8rem;
	padding-top: 1.45rem;
	padding-bottom: 0.8rem;
	display: block;
	opacity: 0;
	visibility: hidden;
	transition: 0.4s;
}

.header .dropdown-lang:hover .dropdown-menu {
	opacity: 1;
	visibility: visible;
	transition: 0.4s;
 
}

.header .dropdown-lang .dropdown-menu h6 {
	margin-left: 1.2rem;
}

.header .dropdown-lang .dropdown-menu li a {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 0.5rem 0.7rem 0.5rem 1.2rem;
	color: #2F353A;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1.1875rem;
	transition: 0.4s;
}

.header .dropdown-lang .dropdown-menu li a:hover {
	background: #575D611A;
	font-weight: 600;
	transition: 0.4s;
}

.header .dropdown-lang .dropdown-menu li a img {
	flex: 0 0 1.2rem;
	max-width: 1.2rem;
	margin-right: 0.5rem;
}

.header .dropdown-lang img {
	margin-right: 0.5rem;
}
.header .dropdown-login:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transition: .4s;
  transition: .4s;
}
.header .dropdown-login .dropdown-menu {
  top: 100%!important;
  -webkit-transform: translate3d(0,0,0)!important;
  transform: translate3d(0,0,0)!important;
  border: none;
  background: #fcfcfc;
  -webkit-box-shadow: 0 -2px 15px #21252926;
  box-shadow: 0 -2px 15px #21252926;
  border-radius: .3125rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 1.9rem;
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  min-width: 27.9375rem;
  left: auto!important;
  right: -8.2rem!important;
  padding: 2.8rem 2.6rem 2.6rem 2.4rem;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}
.header .dropdown-login h4 {
  margin-bottom: 2.7rem;
}
.header .dropdown-login .form-group {
  margin-bottom: 2rem;
}
.header .dropdown-login label {
  color: #2e3031;
  font-size: 1rem;
  font-weight: 400;
}
label {
  display: inline-block;
  margin-bottom: .5rem;
}
.header .dropdown-login .form-control {
  height: 3rem;
  background: #fff;
  border: 1px solid #575D6180;
  border-radius: 0;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.header .dropdown-lang .dropdown-toggle {
  padding: 0;
  text-transform: none;
  font-size: .875rem;
  color: #2f353a;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1.3rem;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.header .dropdown-lang {
  margin-left: .7rem;
  border-left: 1px solid #575d61;
  margin-right: -.2rem;
  padding-left: .6rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 5.3rem;
}
.header .dropdown-lang .dropdown-menu {
  right: -.9rem!important;
  left: auto!important;
  top: 100%!important;
  -webkit-transform: translate3d(0,0,0)!important;
  transform: translate3d(0,0,0)!important;
  border: none;
  background: #fcfcfc;
  -webkit-box-shadow: 0 -2px 15px #21252926;
  box-shadow: 0 -2px 15px #21252926;
  border-radius: .3125rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 2.1rem;
  min-width: 10.8rem;
  padding-top: 1.45rem;
  padding-bottom: .8rem;
  display: block;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .4s;
  transition: .4s;
}
.header .dropdown-lang .dropdown-menu .countries {
  border-bottom: 1px solid #575D6133;
  padding-bottom: .7rem;
  margin-bottom: 1.3rem;
}
.dropdown-lang {
  img{
    margin-right: 8px;
  }
}

.header .sub-menu {
	position: absolute;
	background-color: #FCFCFC;
	box-shadow: 0px -2px 15px rgba(33, 37, 41, 0.15);
	z-index: 1000;
	margin-top: 2rem;
	padding: 2.5rem 0 1.6rem 2.5rem;
	width: auto;
	border-bottom-left-radius: 0.3125rem;
	border-bottom-right-radius: 0.3125rem;
	left: 0;
	min-width: 19.9rem;
	opacity: 0;
	transition: 0.4s;
	visibility: hidden;
}

.header .has-sub-menu:hover .sub-menu {
	opacity: 1;
	transition: 0.4s;
	visibility: visible;
}

.header .sub-menu.two-cols {
	min-width: 32.7rem;
}

.header .sub-menu a {
	font-size: 1rem;
	text-transform: none;
	color: #2F353A;
	font-weight: 600;
	display: block;
}

.header .sub-menu li {
	margin-bottom: 0.6rem;
}

.header .sub-menu li a {
	font-size: 0.875rem;
	font-weight: 300;
	margin-bottom: 0.7rem;
	color: #2E3031;
	transition: color 0.3s;
	line-height: 1.5rem;
}

.header .sub-menu li a:hover {
	color: #567C8B;
	text-shadow: 0px 0px 0px #567C8B;
}

.header .sub-menu ul {
	margin-top: 1rem;
	margin-bottom: 2.3rem;
}

.header .sub-menu ul:last-child {
	margin-bottom: 0;
}

.header .sub-menu .sub-menu-category {
	margin-bottom: 0.7rem;
}

.header .menu-btn {
	display: none;
}

.header .dropdown-login .dropdown-toggle {
	padding: 0;
}

.header .dropdown-login .dropdown-toggle:focus {
	box-shadow: none;
}

.header .dropdown-login .dropdown-toggle:after {
	display: none;
}

.header .dropdown-login .dropdown-menu {
	top: 100% !important;
	transform: translate3d(0, 0, 0) !important;
	border: none;
	background: #FCFCFC;
	box-shadow: 0px -2px 15px #21252926;
	border-radius: 0.3125rem;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-top: 1.9rem;
	display: block;
	visibility: hidden;
	opacity: 0;
	transition: 0.4s;
	min-width: 27.9375rem;
	left: auto !important;
	right: -8.2rem !important;
	padding: 2.8rem 2.6rem 2.6rem 2.4rem;
}

.header .dropdown-login:hover .dropdown-menu {
	visibility: visible;
	opacity: 1;
	transition: 0.4s;
}

.header .dropdown-login h4 {
	margin-bottom: 2.7rem;
}

.header .dropdown-login label {
	color: #2E3031;
	font-size: 1rem;
	font-weight: 400;
}

.header .dropdown-login .form-control {
	height: 3rem;
	background: #FFFFFF;
	border: 1px solid #575D6180;
	border-radius: 0;
}

.header .dropdown-login .form-control:focus {
	box-shadow: none;
	border: 2px solid rgba(86, 124, 139, 1);
}

.header .dropdown-login .form-group {
	margin-bottom: 2rem;
}

.header .dropdown-login .input-group {
	position: relative;
	margin-bottom: 0.9rem;
}

.header .dropdown-login .input-group span {
	position: absolute;
	right: 0.8rem;
	top: 0.8rem;
	font-size: 1.4rem;
	color: #2F353A;
}

.header .dropdown-login .link-underline {
	color: #2E3031;
	font-size: 0.875rem;
	line-height: 1.1875rem;
	font-weight: 400;
	text-decoration: underline;
	display: block;
}

.header .dropdown-login form .btn {
	margin-top: 2.9rem;
	margin-bottom: 1rem;
}

.header .logo {
	width: 12.1875rem;
	height: 2.5rem;
}

.review-item {
	margin-bottom: 2.4rem;
}

.review-item .item-header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 0.8rem;
}

.review-item .stars {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-right: 0.5rem;
}

.review-item .stars img {
	margin-right: 0.38rem;
	width: 1.4rem;
	height: 1.4rem;
	object-fit: contain;
}

.review-item .user-name {
	font-style: italic;
	font-size: 1rem;
}

.review-item .item-body {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.review-item .item-body p {
	margin-bottom: 0;
}

.section-subscribe {
	background-color: #567C8B;
	padding-top: 3rem;
	padding-bottom: 2.7rem;
}

.section-subscribe h4 {
	color: #fff;
	font-weight: 600;
}

.subscribe {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-bottom: 0.5rem;
}

.subscribe .form-control {
	flex: 1;
	height: 100%;
	font-size: 1rem;
	padding: 1.075rem 1.45rem;
	font-weight: 300;
	max-width: 17.5rem;
	border-radius: 0.3125rem;
	background-color: #FCFCFC;
	border: none;
	color: #2E3031;
}

.subscribe .form-control::placeholder {
	color: #2E3031;
}

.subscribe .form-control:focus {
	box-shadow: none;

	&::placeholder {
		color: transparent;
	}
}

.subscribe .btn {
	font-size: 1.125rem;
	padding: 0.8rem 2.8rem;
	margin-left: 1rem;
	line-height: 0.625rem;
	font-weight: 700;
}

.seaction-advantages {
  background-color: #567C8B;
  padding-top: 5.5rem;
  padding-bottom: 4.9rem;
}
.seaction-advantages h2 {
  color: #fff;
  margin-bottom: 3.4rem;
}
.seaction-advantages .row {
  margin: 0 -2.4rem 0 1.3rem;
}

.infobox {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.infobox .content-wrap {
  flex: 1;
  color: #fff;
}

.infobox p {
  margin-bottom: 0;
}

.infobox .icon-wrap {
  flex: 0 0 3.8rem;
  max-width: 3.8rem;
  margin-right: 2rem;
  padding-top: 0.8rem;
}

.infobox h5 {
  margin-bottom: 0.6rem;
  color: #fff;
}

.infobox p {
  max-width: 15rem;
}

.footer {
	padding-top: 4.1rem;
	padding-bottom: 1.8rem;
	.container{
		max-width: 1285px !important;
	}
}

.footer .row {
	margin: 0 -1.5rem;
}

.footer h5 {
	font-weight: 600;
	margin-bottom: 1.65rem;
}

.footer .footer-menu a {
	color: #2E3031;
}

.footer a:hover {
	color: #567c8b;
}

.footer .footer-menu li {
	margin-bottom: 0.88rem;
}

.footer .col:first-child {
	flex: 0 0 25.4%;
	max-width: 25.4%;
}

.footer .col:nth-child(2) {
	flex: 0 0 24.6%;
	max-width: 24.6%;
}

.footer .col:nth-child(3) {
	flex: 0 0 21.1%;
	max-width: 21.1%;
}

.footer-social {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.footer-social a {
	display: block;
	margin-bottom: 0.95rem;
}

.footer .copyright {
	justify-content: center;
	margin-top: 3rem;
}

.footer .copyright ul {
	display: flex;
	flex-wrap: wrap;
}

.footer .copyright p {
	margin-right: 0.3rem;
	margin-left: -0.9rem;
}

.footer .copyright p,
.footer .copyright ul a {
	font-size: 0.875rem;
	margin-bottom: 0;
	color: #6E777E;
	font-weight: 400;
}

.footer .copyright p,
.footer .copyright ul li {
	line-height: 0.975rem;
}

.footer .copyright ul li:after {
	content: '|';
	color: #6E777E;
	display: inline-block;
	font-size: 0.875rem;
	margin: 0 0.3rem;
}

.footer .copyright ul li:last-child:after {
	display: none;
}

.footer-social a:hover svg circle {
	fill: #567c8b;
	opacity: 1;
}

.footer-social a svg circle {
	transition: 0.4s;
}

.footer-social a svg path,
.footer-social a svg g circle {
	transition: 0.4s;
}

.footer-social a:hover svg path,
.footer-social a:hover svg g circle {
	fill: #fff;
}

.footer .partner-company {
	margin-top: 3.9rem;
}

.footer .col:nth-child(4) {
	flex: 0 0 21.1%;
	max-width: 21.1%;
}

.footer .partner-company h6 {
	font-family: 'Open Sans', sans-serif;
	color: rgba(46, 48, 49, 1);
	font-weight: 700;
	font-size: 1.125rem;
	margin-bottom: 0.7rem;
}

.footer .partner-company span {
	display: block;
	color: rgba(46, 48, 49, 1);
	font-size: 0.875rem;
	font-weight: 400;
	margin-top: 0.1rem;
}

.footer .partner-company a {
	display: block;
	width: 10.625rem;
	height: 3.875rem;
}

@media (min-width: 1023.98px) {
	.dropdown-reviews {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
    	left: 0;
    	bottom: 0;
    	right: 0;
    	height: 4rem;
		}
	}

	.dropdown-menu {
		margin-top: 1.2rem;
	}
}

@media(min-width: 1200px) {
	.container {
		max-width: 80.375rem;
	}
}

@media(max-width: 1439px) {
  .seaction-advantages .row {
      margin: 0 1.3rem;
  }
	.footer .row {
		margin: 0 -15px;
	}
}

@media(max-width: 1199px) {
	.header .header-nav {
		margin-left: 1.6rem;
	}

	.header .menu>li {
		margin-right: 1rem;
	}

	.dropdown-reviews {
		margin-right: 43px;
	}

	.section-subscribe h4 br {
		display: none;
	}

  .seaction-advantages .row {
		margin: 0 -15px;
}

.infobox {
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.infobox .icon-wrap {
	margin-right: 0;
	margin-bottom: 1.5rem;
}

.infobox p {
	margin: 0 auto;
}

	.footer .col:nth-child(4) {
		flex: 0 0 19.1%;
		max-width: 19.1%;
	}
}

@media(max-width: 1023px) {
	body.overflow {
		//overflow: hidden;
	}

	.main-content {
		padding-top: 2.4rem;
	}

	.header {
		padding: 1.5rem 0.9rem 1.5rem;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.header .nav-wrap {
		// position: fixed;
		background: #FFFFFF;
		// left: 0;
		// right: 0;
		// bottom: 0;
		// top: 6.7rem;
		width: 100%;
		z-index: 1000;
		transition: 0.4s;
		max-height: 0;
		opacity: 0;
		//overflow: hidden;
		display: block;
	}

	.header.fixed .right-nav>.btn {
		display: none;
	}

	.header.menu-open .nav-wrap {
		transition: 0.4s;
		max-height: 100vh;
		opacity: 1;
 
	}

	.header .logo {
		width: 8.4rem;
		height: auto;
	}

	.header .menu-btn {
		// margin-top: -0.1rem;
		// margin-right: 0.1rem;
		// display: block;
		// background-image: url(../images/hamburger.svg);
		// width: 1.6rem;
		// height: 1.6rem;
		// background-repeat: no-repeat;
		// background-size: contain;
		// background-position: center;
	}
	// .header.menu-open .menu-btn {
	// 	background-image: url(../images/icon-close.svg);
	// }
	.header .menu-btn{
		display: block;
		border: 0px;
		background: transparent;
		padding: 10px;
		span{
			position: relative;
		}
		span, span::after, span::before{
			width: 23px;
			height: 2px;
			background: #000;
			display: block;
			
		}
		span::after, span::before{
			position: absolute;
			content: "";
			transition: .3s;
		}
		span::after{
			top: -7px;
		}
		span::before{
			top: 7px;
		}
	}
	.header.menu-open {
		background-color: #FFFFFF;
		.menu-btn {
			span{
				height: 0;
			}
			span::after{
				top: 0;
				transform: rotate(135deg);
			}
			span::before{
				top: 0;
				transform: rotate(-135deg);
			}
		}
	}
	.header .header-nav {
		margin: 0;
		padding: 1.4rem 1rem;
	}

	.header .menu {
		display: block;
	}

	.header .menu>li {
		margin: 0;
		border-bottom: 1px solid #575D6133;
		padding: 0.78rem 0;
	}

	.header .menu>li>a {
		position: relative;
		width: 100%;
		display: block;
	}

	.header .menu>li>a:before {
		display: none;
	}

	.header .menu>.has-sub-menu>a:after {
		content: '';
		background-image: url(../images/arrow-bottom.svg);
		width: 1.4rem;
		height: 1.4rem;
		position: absolute;
		right: 0;
		top: 0;
		background-size: contain;
		background-position: center;
		transition: 0.4s;
	}

	.header .menu>.has-sub-menu.active>a:after {
		transform: rotate(180deg);
		transition: 0.4s;
	}

	.header .menu>li:last-child {
		border-bottom: 0;
	}

	.header .right-nav {
		padding: 0.1rem 0.9rem;
		flex-wrap: wrap;
		margin-left: auto;
	}

	.dropdown-reviews {
		width: 100%;
		padding-bottom: 2.6rem;
	}

	.header .user-nav {
		margin-left: 0.1rem;
	}

	.header .lang {
		border-left-color: #575D61;
		padding-left: 1.2rem;
		font-weight: 400;
	}

	.header .sub-menu {
		min-width: 1rem;
		position: relative;
		box-shadow: none;
		background: transparent;
		max-height: 0;
		overflow: hidden;
		margin: 0;
		padding: 0;
		opacity: 1;
		visibility: visible;
	}

	.header .sub-menu.two-cols {
		min-width: 1rem;
	}

	.header li.active .sub-menu {
		max-height: 100vh;
		transition: 0.4s;
	}

	.header .sub-menu .row {
		padding: 1.1rem 0.9rem 0;
	}

	.header .sub-menu .sub-menu-category {
		font-size: 0.875rem;
	}

	.header .sub-menu ul a {
		line-height: 1.3rem;
	}

	.header .sub-menu ul {
		margin-top: 0rem;
		margin-bottom: 1.3rem;
	}

	.dropdown-reviews .dropdown-menu {
		transform: none !important;
		min-width: 1rem;
		left: 0 !important;
		padding: 1.1rem 1rem 2.1rem;
		display: none;
	}

	.dropdown-reviews {
		margin-right: 43px;
	}

	.dropdown-reviews .dropdown-menu h5 {
		margin-bottom: 1rem;
	}

	.header.fixed {
		padding: 0.7rem 0.9rem 0.78rem;
	}

	.header.fixed .nav-wrap {
		top: 3.1rem;
	}

	.header.fixed .sub-menu {
		margin-top: 0;
	}

	.header.fixed .user-nav {
		display: flex;
	}

	.header .dropdown-lang .dropdown-menu {
		left: 0 !important;
		margin-top: 1.1rem;
	}

	.header .dropdown-login .dropdown-menu {
		left: 0 !important;
		margin-top: 1.1rem;
	}

}
.section-subscribe__container{
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 20px;
}
@media(max-width: 991px) {
	.section-subscribe {
		text-align: center;
		padding-top: 3rem;
		padding-bottom: 2.4rem;
	}
	

	.section-subscribe h4 {
		padding: 0 0.3rem;
		margin-bottom: 2.1rem;
	}

	.subscribe .form-control {
		flex: 0 0 100%;
		max-width: 100%;
		padding: 0.775rem 1.45rem;
		text-align: center;
		margin-bottom: 1rem;
	}

	.subscribe {
		width: 100%;
		justify-content: stretch;
	}

	.subscribe .btn {
		display: block;
		width: 100%;
		margin: 0;
		font-size: 0.875rem;
		padding: 1.1rem 2.8rem;
	}

  .infobox {
    margin-bottom: 1rem;
  }

	.footer .col:last-child {
		order: 1;
	}

	.footer .col:nth-child(3) {
		order: 3;
		flex: 1;
		max-width: 100%;
	}

	.footer .footer-social {
		flex-direction: row;
		justify-content: center;
		margin-bottom: 1.7rem;
		padding: 0;
	}

	.footer-social a {
		margin: 0 0.5rem;
	}

	.footer h5 {
		font-size: 1.25rem;
		line-height: 2.5rem;
		margin-bottom: 0.7rem;
	}

	.footer .footer-menu li {
		font-size: 0.875rem;
		margin-bottom: 0.45rem;
	}

	.footer .copyright {
		margin-top: 1.4rem;
	}

	.footer .copyright p,
	.footer .copyright ul a {
		font-size: 0.75rem;
	}

	.footer .copyright p {
		flex: 0 0 100%;
		max-width: 100%;
		text-align: center;
		margin-bottom: 0.3rem;
	}

	.footer .col:nth-child(2) {
		order: 4;
	}

	.footer .col:nth-child(4) {
		order: 5;
	}

	.footer .col:first-child {
		flex: 0 0 30%;
		max-width: 30%;
		order: 2;
	}
}

@media(max-width: 767px) {

	h1,
	h2 {
		font-size: 2rem;
		line-height: 2.5rem;
	}

	h3 {
		font-size: 2rem;
		line-height: 2.5rem;
		font-weight: 600;
	}

	h4 {
		font-size: 1.5rem;
		line-height: 2rem;
		font-weight: 600;
	}

	.lead {
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.btn {
		padding: 0.8rem 2.3rem;
		font-size: 0.875rem;
	}

	.section-gray {
		padding-top: 3.3rem;
	}

	.title {
		padding: 0 1.4rem;
		margin-bottom: 1.9rem;
	}

	.title .lead {
		font-size: 1.125rem;
		line-height: 1.625rem;
	}

	.pre-header {
		text-align: center;
		padding: 0.7rem 0;
	}

	.pre-header p {
		font-size: 0.75rem;
		line-height: 1.25rem;
		margin: 0 2.7rem;
	}

	// .header {
	// 	top: 4.9rem;
	// }

	.header .nav-wrap {
		top: 8.6rem;
	}

	.header.fixed .right-nav>.btn {
		display: none;
	}

	.header .dropdown-login .dropdown-menu {
		min-width: 24.5rem;
	}

  .seaction-advantages {
    padding-top: 4.3rem;
    padding-bottom: 3.8rem;
}
.seaction-advantages h2 {
    margin-bottom: 2rem;
}
.seaction-advantages .col:last-child .infobox{
    margin-bottom: 0;
}

.seaction-advantages .col:last-child .infobox {
	margin-bottom: 0;
}

.infobox {
	margin-bottom: 2.3rem;
}

	.footer .col:first-child {
		flex: 0 0 59%;
		max-width: 59%;
	}
}
.dropdown-reviews{
	margin-right: 43px;
}

.m-0{
	margin: 0;
}
.m-auto{
	margin: 0 auto;	
	display: block;
}
.link{
	color: #567C8B;
	text-decoration: underline;
	cursor: pointer;
	&:hover{
		text-decoration: none;
	}
}
textarea{
	resize: none;
}
.bb-line{
	border-bottom: 1px solid #575D6180;
	margin: 48px 0;
	@include desktop-md{
		margin: 67px 0;
	}
}