.dignity{
  max-width: 1440px;
  margin: 0 auto;
  background-color: #567C8B;
  padding: 69px 15px 18px;
  color: #fff;
  margin-bottom: 32px;
  @include desktop-sm{
    padding: 88px 32px 57px;
  }
  &_more{
    @include desktop-sm{
      padding: 88px 32px 76px;
    }
  }
  &__container{
    max-width: 1200px;
    margin: 0 auto;
  }
  &__title{
    font-family: 'Spectral';
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin-bottom: 48px;
    @include desktop-sm{
      font-size: 40px;
    }
  }
  &__wrap{
    @include tablet{
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
    }
    @include desktop-md{
      justify-content: space-between;
    }
    
  }
  &__block{
    padding: 0 50px;
    text-align: center;
    margin-bottom: 65px;
    @include tablet{
      width: 45%;
      padding: 0 15px;
      margin-bottom: 45px;
    }
    @include desktop-md{
      display: flex;
      width: 31%;
      text-align: left;
      justify-content: center;
      margin: 0;
    }
  }
  &__img {
    width: 60px;
    height: 60px;
    margin: 0 auto 15px;  
    img{
      width: 100%;
      height: 100%;
    }
    @include desktop-md{
      margin-right: 32px;
      margin-top: 20px;
    }
  }
  &__content{
    @include desktop-md{
      width: calc(100% - 92px);
    }
  }
  h3{
    font-size: 20px;
    color: #fff;
    margin-bottom: 5px;
    line-height: 1.3;
    @include tabtoslide{
      font-size: 24px;
    }
  }
  &_blocks{    
    padding: 32px 15px;
    background: transparent;
    color: #2E3031;
    margin-bottom: 0;
    @include desktop-sm{
      padding: 32px;
    }
    h3{
      color: #2E3031;
      font-weight: 600;
      margin-bottom: 0;
    }
    .dignity__content{
      width: 100%;
      @include tabtoslide{
        width: calc(100% - 92px);
      }
    }
    .dignity__img{
      margin: 0 auto 15px;
    }
    .dignity__container{
      max-width: 1376px;
    }
    .dignity__block{
      display: block;
      text-align: center;
      width: 100%;
      margin-bottom: 20px;
      background: #EDECEE; 
      padding: 33px 32px 23px;  
      @include tablet{
        margin-bottom: 45px;
      }
      @include tabtoslide{
        margin-bottom: 0;
        display: flex;
        align-items: center;
        text-align: left;
        width: 32%;
      }
      
    }
  }
  &_p-0{
    padding: 32px 15px 0;
    @include desktop-sm{
      padding: 32px;
    }
  }
  &_gray{
    background-color: #EDECEE;
    color: #2F353A;
    h2, h3{
      color: #2F353A;
    }
  }
  &__block_center{
    @include desktop-md{
      padding: 45px 32px 43px;
    }
    .dignity__img{
      @include tabtoslide{
        margin: 0 15px 0 0;
      }
    }
    .dignity__content{
      width: auto;
      @include tabtoslide{
        max-width: 190px;
      }
    }
  }
}