.section-slider-half{
    max-width: 1300px;
    margin: 65px auto;
    padding: 0 16px;
    @include desktop-md{
        margin: 110px auto 60px;
    }
    .tab__check{
        font-size: 14px;
        @include tablet{
            font-size: 16px;
        }
    }
    .title{
        @include desktop-md{
           text-align: left; 
        }
    }
    .section-hero__left{
        display: block;
        margin-bottom: 43px;
        @include desktop-md{
            width: 51%;
            padding: 0 20px;
            margin-bottom: 0;
        }
        &.order{
            @include desktop-md{
                order: 1;
            }
        }
        .swiper-container{
            margin-bottom: 16px;
        }
        .section-hero__swiper{
            width: 100%;
        }
        .section-hero__tab-activators{
            flex-direction: row;
            width: 100%;
            margin: 0;
            .swiper-wrapper{
                flex-direction: row;
            }
            .section-hero__tab-activator{
                width: 90px;
                height: 90px !important;
            }
        }
        .section-hero__swiper-pagination{
            bottom: 6px;
            @include mobile-md{
                bottom: 10px;
            }
        }
        .swiper-pagination-bullet{
            width: 12px;
            height: 12px;
            background: #fff;
            border: 0.5px solid #575D61;
            opacity: 1;
            margin: 0 2px;
            @include mobile-md{
                width: 15px;
                height: 15px;
                margin: 0 4px;
            }
            @include tablet{
                width: 17px;
                height: 17px;
            }
            &.swiper-pagination-bullet-active{
                background: #8BA4B4;
            }
        }
    }
    
    &__wrap{
        @include desktop-md{
            display: flex;
            align-items: center;
            margin: 0 -20px;
        }
        
    }
    &__context{
        text-align: center;
        max-width: 700px;
        margin: 0 auto;
        @include desktop-md{
            width: 49%;
            text-align: left;
            padding: 0 20px;
            margin-bottom: 20px;
        }
        .title{
            padding: 0;
        }
        .main-title{
            margin: 0 auto 10px;
            span{
                display: block;
                @include mobile-md{
                    display: inline;
                }
            }
        }
        .text-entered{
            margin-bottom: 28px;
            @include tablet{
                margin-bottom: 32px;
            }
        }
    }
    &__price{
        font-family: 'Spectral';
        font-size: 18px;
        margin-bottom: 26px;
        @include tablet{
            font-size: 20px;
            font-weight: 700;
        }
    }
    &__box{
        margin-bottom: 20px;
        .title{
            font-size: 24px;
            text-align: left;
            margin: 0 0 10px;
            font-weight: 600;
        }     
    }
    &__box-wrap{
        position: relative;
        .swiper-container{
            margin: 0 30px;
            @include tablet{
                margin: 0 35px;
                padding: 0 10px;
            }
        }
        .swiper-button-next, .swiper-button-prev{
            height: auto;
            width: auto;
            top: 50%;
            transform: translate(0, -50%);
            margin: 0;
            @include desktop-md{
                top: 38%;
            }
        }
        .swiper-button{
            &::after{
                font-size: 20px;
                color: #2E3031;
            }
        } 
        .swiper-wrapper{
            @include tablet{
                padding-bottom: 25px;
            }
        }
    }
    &__button{
        margin: 48px 0 15px;
        @include tablet{
            margin: 0 0 20px;
        }
        .button{
            min-width: 270px;
            width: 100%;
            @include mobile-lg{
                width: auto;
            }
        }
    }
    &__img{
        width: 63px;
        height: 63px;
        margin: 0;
        padding: 5px;
        cursor: pointer;
        transition: .3s;
        position: relative;
        &:hover{
            background: #70707026;
        }
        &:hover::after{
            @include tablet{
                content: attr(data-title);
                position: absolute;
                left: -15px;
                right: -15px;
                text-align: center;
                font-size: 15px;
                margin: 0 auto;
                bottom: -25px;
            }
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__bottom-text{
        text-align: center;
        margin-bottom: 64px;
        line-height: 1.5;
        @include tablet{
            margin-bottom: 110px;
            font-size: 18px;
        }
        span{
            @include tablet{
                display: block;
            }
        }
    }
    &__down-text{
        max-width: 270px;
        text-align: center;
        font-weight: 500;
        color: #888;
        p{
            margin: 0 auto;
        }
    }
}