.section-img{
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 32px;
  &_mb{
    @include wide-screen-md{
      margin-bottom: 112px;
    }
  }
  &_size-m{ 
    margin: 0 15px 15px;   
    @include wide-screen-md{
      margin: 0 auto 15px;
    }
  }
  &__container{    
    margin: 0 auto; 
    max-width: 1376px;
  }
  &__block-wrap{
    position: absolute;
    width: 100%;
    max-width: 540px;
    height: 180px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    @include tablet{
      height: 245px;
    }
  }
  &__block{
    background: rgba(255, 255, 255, 0.85);
    text-align: center;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    @include desktop-md{
      padding: 75px 20px;
    }
  }
  &__title{
    text-align: center;
    font-size: 32px;
    @include tablet{
      font-size: 40px;
      margin-bottom: 24px;
    }
    &_small{
      font-size: 24px;
      @include mobile-lg{
        font-size: 32px;
      }
      @include desktop-md{
        font-size: 40px;
      }
    }
  }
  h1{
    @include desktop-md{
      font-size: 48px;
    }
  }
  &__text{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
    @include tablet{
      font-size: 20px;
    }
  }
  &__description{
    font-size: 20px;
    padding: 0 30px;
    font-family: 'Spectral';
    font-style: italic;
    text-align: center !important;
    margin-top: 24px;
    @include tablet{
      margin-top: 38px;
    }
  }
  &__img{
    margin-bottom: 24px;
    @include desktop-md{
      margin-bottom: 32px;
    }
  }
  figure{
    padding-bottom: calc(265% / 360 * 100);
    height: 100%;
    @include tablet{
      padding-bottom: calc(630% / 1000 * 100);
    }		
    @include wide-screen-sm{
      padding-bottom: calc(505% / 1440 * 100);
    }		
  }
}