.section-upload-photo{
    max-width: 1280px;
    margin: 80px auto 70px;
    padding: 0 16px;
    h2{
        font-size: 24px;
        line-height: 32px;
        margin: 0 13px;
    }
    &__text{
        font-size: 18px;
        line-height: 28px;
        font-weight: normal;
        margin-bottom: 40px;
        text-align: center;
        @include desktop-sm{
            margin-bottom: 50px;
        }
    }
    &__head{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;
        .link{
            display: block;
            width: 120px;
            font-size: 16px;
            line-height: 26px;
            font-weight: normal;
        }
        &:before{
            content: '';
            display: block;
            width: 120px;
        }
    }
    &__device, &__link{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        @include desktop-sm{
            justify-content: center;
            width: 100%;
        }
        
    }
    &__device{
        max-width: 522px;
        @include desktop-sm{
            text-align: center;
            max-width: 385px;
        }
        img{
            width: 100%;
            max-width: 386px;
            margin-bottom: 28px;
            display: block;
        }
        .button{
            width: 280px;
            font-size: 14px;
            line-height: 17px;
        }
    }
    &__wrapper{
        display: flex;
        align-items: stretch;
        margin-bottom: 32px;
        &:last-child{
            margin-bottom: 0;
            justify-content: center;
        }
        @include desktop-sm{
            justify-content: center;
            margin-bottom: 15px;
        }
    }
    &__footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        .button{
            width: 100%;
            max-width: 403px;
            line-height: 24px;
        }
    }
    &__img{
        text-align: center;
    }
    .upload-link{
        display: flex;
        align-items: center;
        width: 100%;
        img{
            display: block;
            margin-right: 16px;
        }
        input{
            flex: 1;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
        }
    }
    .column{
        display: flex;
        &:first-child{
            justify-content: flex-end;
            margin: 0 auto;
            @include desktop-sm{
                width: 45%;
                margin: 0;
                align-items: center;
                
            }
        }
        &:last-child{
            justify-content: center;
            @include tablet{
                justify-content: flex-start;
            }
            @include desktop-sm{
                width: 53%;
            }
        }
        .text{
            font-size: 24px;
            line-height: 26px;
            font-weight: 600;
            text-align: center;
            @include desktop-sm{
                margin-bottom: 60px;
            }
        }
    }
    .service-button{
        border: none;
        outline: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        background: none;
        align-items: center;
        font-size: 18px;
        line-height: 26px;
        font-weight: 600;
        width: 50%;
        padding: 0;
        justify-content: space-between;
        margin-bottom: 32px;
        font-family: 'open sans';
        img{
            display: block;
            margin-bottom: 12px;
        } 
        @include desktop-sm{
            font-size: 16px;
            max-width: 250px;
            margin-bottom: 72px;
            font-size: 18px;
        }
    }
    .services{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        @include desktop-sm{
            justify-content: space-evenly;
        }
    }
    .separator{
        width: 65px;
        margin: 0 35px;
        height: 610px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        &:after{
            content: 'or';
            display: block;
            background: #fcfcfc;
            color: #2E3031;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 26px;
            z-index: 1;
            padding: 12px;
        }
        &:before{
            content: '';
            display: block;
            width: 1px;
            height: 100%;
            position: absolute;
            background: #575D61;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
    .specification{
        margin-bottom: 56px;
    }
}

@media screen and (max-width: 991px){
    .section-upload-photo{
        .separator{
            width: 40px;
            margin: 0 25px;
        }
    } 
}