.section-album{
  max-width: 1440px;
  margin: 0 auto;
  padding: 48px 15px 64px;  
  @include tablet{
    padding: 127px 15px 112px;
  }
  &_gray{
    background-color: #F4F5F6; 
  }
  &__container{
    margin: 0 auto;
    max-width: 1300px;    
  }
  &__wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__wrap-content{
    @include tablet{
      margin-bottom: 56px;
    }    
  }
  &__entered-wrap{
    @include tablet{
      margin-bottom: 48px;
    }    
  }
  &__block{ 
    color: #2F353A;
    text-decoration: none;  
    width: 330px;
    transition: .4s;
    margin-bottom: 40px;
    @include mobile-lg{
      width: 43%;
      margin: 20px;
    }
    @include tablet{
      width: 30%;
    }
    &:hover{
      .section-album__name-album{
        color: #567C8B;
      }
      span{
        color: #2F353A;
      }
    }
  }
  &__title{
    font-size: 32px;
    font-family: 'Spectral';
    font-weight: 600;
    text-align: center;
    @include tablet{
      font-size: 42px;
    }
    @include desktop-md{
      font-size: 48px;
    }
  }
  &__entered{
    text-align: center;
    max-width: 530px;
    margin: 0 auto;
    margin-bottom: 16px;
    @include tablet{
      margin-bottom: 24px;
    }
    @include desktop-md{
      margin-bottom: 40px;
    }
    &_italic{
      font-style: italic;
      font-weight: 300;
      font-size: 14px;
    }
  }
  &__name-title{
    line-height: 1.8;
    text-align: center;
    font-family: 'open sans';
    font-size: 18px;
    font-weight: 800;
    margin-top: 4px;
    @include tablet{
      margin-top: 30px;
    }
    span{
      display: block;
      font-style: italic;
      font-weight: 400;
    }
  }
  &__button{
    display: none;
    text-align: center;
    @media screen and(min-width: 1200px) {
      display: block;
    }
    a{
      padding: 15px 38px;
    }
  }
  .swiper-slide{
    width: 100%;
    position: relative;
    padding-bottom: 24px;
    @include tablet{
      width: 43%;
    }
    @include desktop-sm{
      width: 30%;
    }
    @include tabtoslide{
      width: 23%;
    }
    .figure-webp{
      //box-shadow: 5px 10px 15px #191b1d33;
    }
  }
  .swiper-wrapper{
    @include tablet{
      margin-bottom: 25px;
    }
    @media screen and(min-width: 1200px) {
      transform: none !important;
    }
  }
  .swiperDescription-pagination{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
  }
  .swiper-pagination-bullet{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #575d61;
    background-color: #fff;
    margin: 0 .3rem;
    opacity: 1;
    &-active{
      background-color: #8ba4b4;
    }
    @media screen and(min-width: 1200px) {
      display: none;
    }
  }
  &_size{
    @include tablet{
      padding: 125px 3px 112px;
    }
    .section-album__entered{
      max-width: 700px;
    }
  }
  &_size-t{
    @include tablet{
      padding: 0px 15px 112px;
    }
    .section-album__entered{
      max-width: 700px;
    }
  }
  &_size-lx{
    padding-bottom: 0;
    @include tablet{
      padding: 80px 15px 0px;
    }
    .section-album__entered{
      max-width: 980px;
    }
  }
  &_size-xxl{
    padding-bottom: 0;
    @include tablet{
      padding: 80px 15px 0px;
    }
    .section-album__entered{
      max-width: 1040px;
    }
  }
  &__name-album{
    margin-top: 24px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    @include tablet{
      margin-top: 32px;
      margin-bottom: 4px;
      font-size: 32px;
    }
    span{
      margin-top: 12px;
      font-weight: 400;
      display: block;
      font-size: 20px;
      font-style: italic;
      @include tablet{
        margin-top: 13px;
        font-size: 24px;
      }
    }
  }
  &__price{
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
  }
  &_tree-block{
    background: #F4F5F6;
    @include tablet{
      padding: 127px 15px 80px;
    }
    .section-album__entered{
      max-width: 850px;
      margin-bottom: 32px;
      @include tablet{
        margin-bottom: 26px;
      }
    }
    .section-album__block{
      margin-bottom: 24px;
      @include tablet{
        width: 44%;
      }
      @include desktop-md{
        width: 28%;
      }
    }
    .section-album__title{
      @include tablet{
        font-size: 40px;
        margin-bottom: 13px;
      }
    }
    .section-album__name-album {
      margin-bottom: 0px;
      @include  tablet{
        margin-bottom: 4px;
      }
      span{
        margin-top: 5px;
        @include tablet{
          margin-top: 13px;
        }
      }
    }
    
  }
  .link{
    color: #567C8B;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}