  .section-logos{
    max-width: 1440px;
    margin: 0 auto;
    background: #EDECEE;
    padding: 36px 0 28px;
    margin-bottom: 32px;
    @include wide-screen-sm{
      padding: 40px;
    }
    &_white{
      background: #fff;
      margin-bottom: 0;
    }
    &__container{
      max-width: 1376px;
      margin: 0 auto;
    }
    &__wrap{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    &__img{
      width: 50%;
      text-align: center;
      padding: 25px 25px 0;
      img{
        max-height: 34px;
      }
      @include tablet{
        width: 25%;
        padding: 0;
        margin: 0;
      }
      @include desktop-md{
        width: 20%;
      }
    }
    p{
      margin-bottom: 0;
      text-align: center;
      width: 100%;
      font-size: 24px;
      font-style: italic;
      @include tablet{
        margin-bottom: 23px;
      }      
      @include desktop-md{
        width: 20%;
        margin: 0;
      }
    }
  }