@mixin tabtoslide {
	@media (min-width:1200px) {
		@content;
	}
}

.section-hero {
	padding-bottom: 30px;
	@include desktop-md {
		padding: 0px 113px 90px 68px;
	}

	&__grid {
		@include tabtoslide {
			display: flex;
			align-items: center;
		}

	}

	&__left {
		width: 100%;

		@include tabtoslide {
			width: 60%;
		}

		display: flex;
	}

	&__swiper {
		width: 100%;
		max-width: 700px;
		margin-bottom: 40px;
		cursor: grab;

		@include tabtoslide {
			width: 85%;
			margin: 0;
		}
	}
	&__right {
		width: 100%;
		text-align: center;

		@include tabtoslide {
			text-align: left;
			width: 40%;
			padding-left: 40px;
		}
	}

	&__tab-activators {
		display: none;

		.swiper-slide {
			cursor: pointer;  
			figure {
				border: 1px solid transparent;
			}

			&-thumb-active {
				opacity: 1;

				figure {
					border: solid #8BA4B4 1px;
				}

			}
		}

		@include tabtoslide {
			.swiper-wrapper{
				flex-direction: column; 
				justify-content: space-between;
			}
			.section-hero__tab-activator{
				height:calc( 100% / 6 - 18px );
				width: 100%;
			 
			}
			display: flex;
		}

		width: 12%;
		margin-right: 16px;

		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	&__tab-activator {
		width: 100%;
	}

	&__swiper-pagination {
		position: absolute;
		z-index: 4;
		text-align: center;
		display: block;

		@include tabtoslide {
			display: none;
		}

		&::after {
			content: '';
			position: absolute;
			top: -100%;
			left: 20%;
			right: 20%;
			height: 100%;
			z-index: -1;
			background-color: transparent; 

			@include mobile-md {
				height: 200%;
				top: -200%;
			}
			@include mobile-lg {
				height: 300%;
				top: -300%;
			}
			@include tablet {
				height: 450%;
				top: -450%;
			}
		}
	}

	.swiper-pagination-bullet {

		height: 12px;
		width: 12px;
		background: #FFFFFF 0% 0% no-repeat padding-box;
		border: 0.5px solid #575D61;

		&-active {
			background: #8BA4B4 0% 0% no-repeat padding-box;
			border: 0.5px solid #575D61;
		}
	}
	&__image-col{
		width: 100%;
		@include desktop-sm{
			width: 61%;
		} 
		figure{
			padding-bottom: calc(278% / 360 * 100);
			height: 100%;
			@include desktop-sm{
				padding-bottom: calc(630% / 880 * 100);
			}		
			@include wide-screen-sm{
				padding-bottom: calc(505% / 880 * 100);
			}		
		}
	}
	&__image-left{
		width: 100%;
		margin: 0 auto;
		padding: 0;
		max-width: 1440px;
	}
	&__image-right{
		max-width: 1440px;
		margin: 0 auto;
		@include desktop-sm{
			.section-hero__image-col{
				width: 60%;
				order: 1;
			}
			.section-hero__content-col{
				width: 40%;
			}
		}
		figure{
			padding-bottom: calc(278% / 360 * 100);
			@include desktop-sm{
				padding-bottom: calc(670% / 880 * 100);
			}		
			@include wide-screen-sm{
				padding-bottom: calc(565% / 880 * 100);
			}		
		}
		p{
			padding: 0 15px;
		}
	}
	&__wrap-flex{
		@include desktop-sm{
			display: flex;
			align-content: center;
		}
		
	}
	&__bg{
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		img{
			width: 100%;
			height: 100%;
		}
	}
	&__picture{
		position: absolute;
		content: "";
		bottom: 20px;
		right: 20px;
		width: 166px;
		height: 112px;
		z-index: 0;
		display: none;
		
		@include tablet{
			display: block;
			height: 130px;
			width: 175px;
		}
		@include desktop-sm{
			z-index: -1;
		}
		@media screen and(min-width: 1400px) {
			z-index: 0;
		}
		&_bottom{
			bottom: 0;
		}
		&_map{
			width: 185px;
			height: 80px;
		}
		&_baby{
			width: 150px;
			height: 101px;
		}
		&_lace{
			width: 96px;
			height: 198px;
			bottom: 0;
			right: 0;
		}	
		&_flover{
			width: 230px;
			height: 120px;
			bottom: 0;
			right: 0;
		}
		&_pet{
			width: 81px;
			height: 65px;
			bottom: 21px;
			right: 30px;
		}	
		img{
			width: 100%; 
			height: 100%;
		}
	}
	&__content-col{
		padding: 32px 15px 52px;
		position: relative;
		width: 100%;
		background-color: rgba($color: #7A8A6A, $alpha: .15);		
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow: hidden;
		&::before{
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			opacity: .15;
		}
		@include tablet{
			padding: 80px 25px;
		}
		@include desktop-sm{
			width: 39%;
			padding: 30px 5%;
		}
		&_blue{
			background-color: rgba($color: #69C2CE, $alpha: .8);	
			color: #fff;
			h1{
				color: #fff;
			}
		}
		&_blue-black{
			background-color: rgba($color: #76C8DF, $alpha: .7);	
			color: #2F353A;
			h1{
				color: #2F353A;
			}
		}
		&_light-orange{
			background-color: rgba($color: 	#FCCFBC, $alpha: .9);	
			color: #2E3031;
			h1{
				color: #2E3031;
			}
		}
		&_orange{
			background-color: rgba($color: 	#DFA25A, $alpha: .35);	
			color: #2E3031;
			h1{
				color: #2E3031;
			}
		}
		&_blue-gray{
			background-color: rgba($color: 	#0086A9, $alpha: .3);	
			color: #fff;
			h1{
				color: #fff;
			}
		}
		&_blue-dark{
			background-color: rgba($color: 	#002635, $alpha: .8);	
			color: #fff;
			h1{
				color: #fff;
			}
		}
		&_gray{
			background-color: rgba($color: 	#86A6B7, $alpha: .75);	
			color: #fff;
			h1{
				color: #fff;
			}
		}
		&_gray-brown{
			background-color: rgba($color: 	#C2BBB3, $alpha: .7);	
			color: #2E3031;
			h1{
				color: #2E3031;
			}
		}
		&_khaki{
			background-color: rgba($color: 	#647670, $alpha: .7);	
			color: #fff;
			h1{
				color: #fff;
			}
			@include tabtoslide{
				padding: 0 4%;
			}
		}
		&_dirty-orange{
			background-color: rgba($color: 	#DEB299, $alpha: .6);	
			color: #2E3031;
			h1{
				color: #2E3031;
			}
		}
		.button{
			max-width: 210px;
			margin: 0 auto;
			margin-bottom: 6px;
			@include tablet{
				margin-bottom: 24px;
			}
		}
		h1{
			margin-bottom: 10px;
		}
		p{
			margin-bottom: 32px;
			@include tablet {
				font-size: 18px;
				margin-bottom: 48px;
			}			
		}
		.small{
			margin: 0;
			font-size: 14px;
		}
		.price{
			margin: 0;
			font-style: italic;
		}
	}
	&__small{
		max-width: 360px;
		margin: 0 auto;
	}
}


.tab {
	&__title { 
		font-size: 32px;
		margin-bottom: 30px;

		@include tabtoslide {
			font-size: 40px;
		}
	}

	&__price {
		font-weight: bold;
		font-size: 20px;
		font-family: 'Spectral', serif;
		margin-bottom: 25px;

		@include tablet {
			margin-bottom: 40px;
		}
	}

	&__starts {
		justify-content: center;

		@include tabtoslide {
			justify-content: flex-start;
		}

		width: 100%;
		display: flex;
		align-items: center;
		font-family: 'Open Sans';
		font-size: 14px;
		margin-bottom: 16px;

		img {
			padding: 0 2px;
		}

		span {
			padding-left: 6px;
		}
	}

	&__text {
		margin-bottom: 32px;
		font-size: 16px;

	}

	&__button {
		margin-bottom: 20px;

		@include tablet {
			margin-bottom: 26px;
		}
	}

	&__check {
		display: flex;
		align-items: center;
		justify-content: center;

		@media screen and(min-width: 1200px) {
			justify-content: flex-start;
		} 
		img {
			display: block;
			margin-right: 8px;
		} 
		p {
			margin: 0;
		}
	}
} 
.hero-video-slide{
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	&__item{
		padding:60% 0 0 0;position:relative;
		
		width: 100%;
	}
	&__preloader{
		transition: 1s;
		position: absolute; 
		 width: 100%;
		 height: 100%;
		display: flex;
		justify-content: center;
		align-items: center; 
	}
	iframe{
		pointer-events: none;
	}
 }