.section-img-text{
    margin-bottom: 24px;
    @include tablet{
        margin-bottom: 32px;
    }
    &__container{
        max-width: 1376px;
        margin: 0 auto; 
    }
    &__wrap{     
        @include tablet{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        @include wide-screen-md{
         margin: 0 -16px;
        }  
        &_order{
            @include tablet{
                .section-img-text__img{
                    order: 1;
                }
            }
        }  
    }
    &__content-wrap{
        margin: 0 auto;
        p{
          max-width: 360px;  
        }
    }
    &__content{
        max-height: 631px;        
        overflow: hidden;
        background-color: #EDECEE; 
        padding:  40px 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 32px 16px;      
        @include tablet{          
          width: 48%;
          margin: 16px;
          height: 100vh;
        }
        @include desktop-sm{
            padding: 70px 9%;
        }
        p{
            max-width: 360px;
            @include desktop-sm{
                font-size: 18px;
                line-height: 1.5;
                margin-bottom: 0;
            }
        }
    }
    &__img{     
        figure{
            position: relative;
            width: 100%;
            height: 100%;
            padding-bottom: calc(278% / 360 * 100);
			@include desktop-sm{
				padding-bottom: calc(630% / 880 * 100);
			}		
			@include wide-screen-sm{
				padding-bottom: calc(505% / 880 * 100);
			}	
        }   
        background-color: #EDECEE; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 32px 16px;
        @include tablet{
            max-height: 631px;
            height: 100vh;
            width: 48%;
            margin: 16px;
        }
    }
    &__title{
        font-size: 32px;
        @include desktop-sm{
          font-size: 30px;
          margin-bottom: 24px;
        }
        @include wide-screen-sm{
          font-size: 40px;
        }
    }
    &__button{
        margin-top: 30px;
    }
    &_wrapper{
        .section-img-text__content{
            @include desktop-sm{
                padding: 70px 6.5%;
            }
            p{
                max-width: 550px;
            }
        }
    }
}