#pageUpload{
    overflow: initial;
    .container{
        padding: 0 15px;
        @include tablet{
            padding: 0 20px;
        }
    }
    .link{
        font-size: 16px;
        background: transparent;
        font-family: "open sans";
    }
    .modal-changes{
        .close{
            background: #fff;
            width: 32px;
            height: 32px;
            border-radius: 50px;
            top: -50px;
            right: 0;
            @include wide-screen-sm{
                top: 0;
                right: -80px;
                width: 40px;
                height: 40px;
            }
            img{
                display: block;
                margin: auto;
            }
        }
        &__wrap{
            max-width: 1000px;
            max-height: 550px;
        }
        &__content{
            padding: 0;
            border-radius: 7px;
            .lazy-video {
                position: relative;
                height: 0;
                padding-bottom: calc(405% / 720 *100);
                @media screen and(max-height: 450px) {
                    padding-bottom: calc(205% / 520 *100);
                }
            }
        }
        &__body{
            height: 100%;
            margin: 0;
            border-radius: 5px;
            overflow: hidden;
        }
    }
    .update-slider{
        width: 15%;
		@include tabtoslide{
			.section-hero__tab-activator{
			height:calc( 100% / 5 - 18px );
			}
		}
	}
    .dignity__block{
        padding: 0 35px;
        @include tablet{
            padding: 0 15px;
        }
        p{
            max-width: 240px;
            margin: 0 auto;
        }
        h3{
            font-size: 24px;
        }
    }
}

.upload{
    max-width: 1256px;
    margin: 0 auto;
    &__hero{
        .section-hero__left{
            @include desktop-sm{
                width: 49.99%;
            }
        }
        .figure-webp{
            position: static;
        }
        .section-hero__swiper{
            margin-bottom: 0;
        }
        .section-hero__swiper{
            max-width: none;
            max-height: 550px;
            @include desktop-sm{
                max-height: none;
            }
        }
        .swiper-pagination-bullet{
            width: 12px;
            height: 12px;
            border: 0.5px solid #575D61;
            background: #fff;
            opacity: 1;
            &-active{
                background: #8BA4B4;
            }
            @include mobile-md{
                width: 18px;
                height: 18px;
            }
        }
        .section-hero__tab-activators{
            width: 15%;
        }
    }
    &__wrap-video{
        margin-bottom: 25px;
        .link{
            @include mobile-md{
                margin-left: 25px;
            }
            img{
                margin-top: -5px;
                margin-right: 6px;
            }
        }
        @include mobile-md{
            display: flex;
            align-items: baseline;
        }
    }
    &__title{
        margin-bottom: 4px;
        font-size: 24px;
        @include tablet{
            font-size: 32px;
        }
    }
    .title{
        margin-bottom: 15px;
    }
    &__sub-title{
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        justify-content: center;
        margin-bottom: 32px;
        @include tablet{
            font-size: 16px;
        }
    }
    &__sub-text{
        border-right: 1px solid #2F353A;
        padding: 3px 14px;
        margin-bottom: 0;
        &:last-child{
            border: 0;
        }
        @include mobile-md{
            padding: 3px 16px;
        }
    }
    &__album{
        padding: 0 15px;
        @include desktop-sm{
            display: flex;
        }
        input[type=checkbox], input[type=radio]{
            width: 0;
            height: 0;
            display: none;  
        }
    }
    &__wrap-type{
        background: #EDECEE;
        padding: 32px 16px;
        @include tablet{
            padding: 40px 28px;
        }
        @include desktop-md{
            width: 50%;
        }
        .radio{
            cursor: pointer;
            font-size: 20px;
            font-weight: 600;
            font-family: "spectral";
            span{
                display: inline-block;
                width: 22px;
                height: 22px;
                border: 2px solid #575D61;
                border-radius: 50px;
                margin-bottom: -4px;
                margin-left: -35px;
                margin-right: 7px;
            }
        }
        .custom-checkbox{
            cursor: pointer;
        }
        .checkbox{
            cursor: pointer;
            span{
                display: inline-block;
                width: 24px;
                height: 24px;
                border: 2px solid #575D61;
                margin-bottom: -5px;
                margin-right: 7px;
            }
        }
    }
    &__radio-item{
        margin-bottom: 24px;
        margin-left: 35px;
        @include tablet{
            margin-bottom: 32px;
        }
    }
    &__price, &__album-info{
        margin-bottom: 0;
    }
    &__price{
        font-weight: 400;
    }
    &__album-info{
        font-size: 14px;
    }
}