.img-half-text{
    margin: 64px 0 72px;
    @include tablet{
        margin: 110px 0 120px;
    }
    .title{
        text-align: left;
        margin-bottom: 20px;
        padding: 0;
        @include tablet{
            margin-bottom: 24px;
        }
    }
    &__container{
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 15px;
        @include tablet{
            padding: 0 20px;
        }
    }
    &__wrap{
        background: #EDECEE;
        @include desktop-md{
            display: flex;
            align-items: center;
        }
    }
    &__img{
        @include desktop-md{
            width: 49.5%;
        }
    }
    &__context{
        font-weight: 400;
        padding: 37px 16px 13px;
        @include tablet{
            padding: 32px 25px 12px;
        }
        @include desktop-md{
            width: 50.5%;
            padding: 32px 55px 12px; 
        }
    }
    &__list{
        margin-bottom: 24px;
        @include tablet{
            margin-bottom: 32px;
        }
    }
    &__list-item{
        display: flex;
        align-items: flex-start;
        margin-bottom: 14px;
        img{
            margin-right: 8px;
        }
        p{
            margin: 0;
        }
    }
}