@import '../components/select-style';
@import '../components/plupload_file_status';
@import '../components/section-album-title';
@import '../components/section-upload-choice';
@import '../components/section-upload-photo';
@import '../components/plupload_file';


.alert{
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 9px 23px;
    width: 100%;
    margin-bottom: 40px;
    @include desktop-sm{
        width: 45%;
        margin-bottom: 30px;
    }
    .alert-name{
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 3px;
        font-weight: 600;
    }
    .alert-descr{
        font-size: 14px;
        line-height: 22px;
        font-weight: 300;
        margin-bottom: 0;
    }
    .alert-text{
        flex: 1;
    }
    .alert-icon{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__error{
        background: #F1E3E4;
        .alert-icon{
            background: #D90017;
        }
    }
    &__error-center{
        margin: 0 auto 24px;
        max-width: 730px;
        @include desktop-sm{
            width: 100%;
        }
    }
    &__warning{
        background: #edecee;
        .alert-icon{
            background: #deb299;
        }
    }
}

// fix plugin

.plupload_buttons{
    display: flex;
    flex-wrap: wrap;
}
.plupload_button{
    width: 100% !important;
}

.plupload_file{
    width: 100% !important;
}
.plupload_file_name{
    width: 100%;
    @include desktop-md{
        width: 50% !important;
    }
}
.plupload_filelist td {
    width: auto !important;
}

input{
    width: 250px;
    border: 1px solid #575D6180;
    padding: 13px 11px;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    font-family: 'Open Sans',sans-serif;
    font-weight: normal;
    outline: none;
    transition: all .2s linear;
    &::-webkit-input-placeholder{
        opacity: 1;
        font-weight: 300;
        transition: all .2s linear;
    }
    &:-moz-placeholder{
        opacity: 1;
        font-weight: 300;
        transition: all .2s linear;
    }
    &:focus{
       box-shadow: inset 0 0 0px 1px #575d6180;
       &::-webkit-input-placeholder{
            opacity: 0;
       }
       &:-moz-placeholder{
            opacity: 0;
        }
    }
}
.specification{
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
    font-weight: 300;
    li{
        display: flex;
        align-items: center;
        justify-content: center;
        &:before{
            content: '•';
            display: block;
            margin-right: 5px;
        }
    }
}
.listMode{
    width: 100%;
    max-width: 561px;
    .plupload_file{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.plupload_header_title{
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 3px;
    font-weight: 600;
}
.plupload_header_text{
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    margin-bottom: 10px;
}

@media screen and (max-width: 991px){
    .section-album-title{
        padding: 32px 13px;
        h1{
            margin-right: 0;
            margin-bottom: 10px;
        }
        input{
            text-align: center;
        }
        &__wrapper{
            flex-direction: column;
            margin-bottom: 16px;
        }
        &__summary{
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-end;
            font-size: 14px;
            line-height: 24px;
        }
        .summary{
            margin-right: 6px;
            text-align: center;
            flex: 1;
            padding-left: 43px;
        }
    }
    .section-upload-choice{
        margin: 48px 0;
        padding: 0 16px;
        &__wrapper{
            flex-direction: column;
            align-items: center;
        }
        .text{
            &:before{
                max-width: 238px;
            }
        }
        .item{
            padding: 28px 30px;
            margin-right: 0;
            margin-bottom: 16px;
            min-height: 230px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .section-upload-photo{
        margin: 48px auto 75px;
        h2{
            margin: 0;
        }
        .button{
            width: 100%;
            max-width: 500px;
            line-height: 17px;
        }
        .column{
            padding: 0;
            max-width: 100%;
            .text{
                margin-bottom: 27px;
            }
        }
        .separator{
            width: 100%;
            height: 22px;
            margin: 32px 0;
            &:after{
                font-size: 16px;
            }
            &:before{
                width: 100%;
                height: 1px;
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
            }
        }
        .services{
            justify-content: space-around;
        }
        .upload-link{
            flex-direction: column;
            img{
                margin-right: 0;
                margin-bottom: 12px;
            }
            input{
                width: 100%;
            }
        }
        &__text{
            font-size: 16px;
            line-height: 24px;
            max-width: 250px;
            margin-left: auto;
            margin-right: auto;
        }
        &__head{
            flex-direction: column;
            margin-bottom: 16px;
            .link{
                width: auto;
                font-size: 18px;
                line-height: 26px;
            }
            &:before{
                display: none;
            }
        }
        &__wrapper{
            flex-direction: column;
        }
        &__device, &__link{
            width: 100%;
        }
        &__device{
            img{
                max-width: 328px;
                margin-bottom: 20px;
            }
        }
    }
    .specification{
        font-size: 14px;
        line-height: 22px;
        li{
            text-align: center;
            align-items: flex-start;
        }
    }
    .listMode{
        max-width: 670px;
        margin: 0 auto;
    }
}
