.popup {
  &-forgot {
    .popup__body {
      padding-top: 40px;
    }

    &__input {
      display: flex;
      flex-flow: row wrap;

      input[type='email'] {
        width: 100%;
        padding: 13px 16px;
        border: 1px solid #575D6180;
        color: $text-color;
      }
    }

    &__success {
      margin-top: 25px;
      padding: 10px 15px;
      display: none;
      opacity: 0;
      background-color: #24A1481A;
      border-radius: 5px;
      transition: .5s ease-out;

      @include mobile-lg {
        padding: 10px 25px;
      }

      &.show {
        display: flex;
      }
      &.showing {
        opacity: 1;
      }
    }

    &__success-caption {
      margin-left: 10px;

      @include mobile-lg {
        margin-left: 20px;
      }

      p {
        font-weight: 600;
        margin-bottom: 5px;
      }

      span {
        font-size: 0.875rem;
        color: $text-color;
      }
    }
  }
}