.formats{
   background-color: #fff; 
} 
.product{
    &__container{
        width: 100%;
        margin-bottom: 32px;
    }
    &__title{
     margin-top: 54px;
     margin-bottom: 20px;
     @include wide-screen-sm{
         margin-top: 0;
         margin-bottom: 30px;
     }
   
    }
    &__subtitle{
        font-size: 16px;
         text-transform: uppercase;
         margin-bottom: 22px;
         @include wide-screen-sm{
            font-size: 20px;
        }
    }
    &__size{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        @include mobile-lg{
            gap: 30px;
        }
        &__img{
            width: 100%;
            img{  
                margin-bottom: 15px;
            }
            &.small{
                width: 86px;
                @include mobile-lg{
                    width: 116px;
                }
            }
            &.big{
                width: 116px;
                @include mobile-lg{
                    width: 160px;
                }
            }
        }
    }
    &__size__item{
        float:none;
        width: 50%; 
        max-width: 220px;
        cursor: pointer;
        transition: .3s;
        &:hover{
            background-color: #f6f6f6;
        }
        .format{
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;
            text-align: center; 
            &::before{
                display: none;
            }
            padding: 10px;
            @include mobile-sm{
                padding: 20px;
            }
            &.active{
                border: transparent;
                background-color: $gray;
            }
        }
    }
    &__details{
         font-size: 15px;
    }
    

}
 .format-flex{
     display: flex;
     flex-wrap: wrap;
 }

@import"6.0-cost.scss";
@import"6.0-paper.scss"