.paper{
    &__section{
        .product__subtitle{
            font-family: "open sans";
            font-weight: 600;
        }
    }
    &__container{  
        @include wide-screen-sm{
            margin: auto;
            max-width: 100%;
            display: flex;
            gap: 20px;  
      }
    }
    &__item{
        display: flex;
        flex-direction: column;
        padding: 10px;
        @include mobile-sm{
            padding: 16px;
        }
        background-color: $gray;
        margin-bottom: 20px;
    } 
    &__title{
        font-weight: 600;
        font-size: 16px;
        text-align: center;
       margin-bottom: 10px;  
    }
    &__img{
        width: 100%;
        margin-bottom: 20px;
    }

    &__card{  
        border:solid #2F353A4D 2px;
        margin-bottom: 16px;
        padding: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        cursor: pointer; 
        letter-spacing: 0;
        @include tablet{
            width: 50%;
        }

        &.active{
            background-color:#70707026;
            border:solid transparent 2px; 
        }
        &__container{

            flex-grow: 1;
            @include tablet{
                  display: flex;
                  gap: 20px;
            }
          
        }
            &__title{
                margin-top: 30px; 
                font-size: 18px;
                color: #2F353A;
                line-height: 1.4;
                margin-bottom: 16px;
                font-family: "open sans";
                font-weight: 600;
                @include wide-screen-sm{
                    margin-bottom: 24px;
                }
                span{
                    font-weight: 400;
                    font-size: 14px;
                } 
            }
            &__description{
                    font-size: 14px;
                    color: #2E3031;
                    max-width: 260px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 16px;
                    font-weight: 300;
                    flex-grow: 1;
            }
            &__price{ 
                font-size: 14px;
                margin-bottom: 16px; 
                font-weight: 500;
                color: #2E3031; 
            }
    }
    &__gsm{ 
        font: normal normal 300 14px/24px 'Open Sans';
        letter-spacing: 0px;
        color: #2E3031;  
        margin-bottom: 5px;
    }
}