 


@import'1.1stickyprice';

#costEstimate{
    position: static;
    width: 100%; 
        opacity: 1 !important;
        display: block  !important;
}

.costEstimate__container{
    width: 100%; 
    .prices{
        padding: 20px;
    } 
}
.prices{
    background-color:transparent; 
    padding-bottom: 1px;
 
  
}

.cost{
    color:$dark;
    background-color:  $gray;
    &__title{
        width: 100%;
        font: normal normal 600 24px/32px 'Spectral';
        margin-bottom: 25px;
        margin-top: 25px;
        @include wide-screen-sm{
            
        }
    }
    &__price{
        @include wide-screen-sm{
             order:2;
             flex-shrink: 0;
             flex-grow: 1;
             text-align: right;
      }
        margin-bottom: 5px; 
        &__container{
            @include wide-screen-sm{
                  display: flex;
            }
          
        }
    }
    &__description{ 
        margin-bottom: 25px; 
    }
    hr{
        margin: 0;
        border-top: 1px solid  #686a6b81;;
    }
}


.total{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
   padding:0 20px 20px;
    background-color:transparent;
    &__title{  
      
        font: normal normal 600 24px/40px 'Open Sans';
    }

    &__price{
        font: normal normal 600 24px/40px 'Open Sans'; 
        text-align: right;
        flex-shrink: 0;
        flex-grow: 2; 
        width: 50%;
    }
    &__shipping{
        width: 100%;
        text-align: right; 
        opacity: 0.7;
        margin-bottom: 15px;
    }
    &__button{
        width: 100%;
        margin-top: 15px;
        color:white;
       font-size: 14px;  
        &:hover{
            color:$dark;
        }
    }
}


 