// *{
//   outline:solid rgba(50, 155, 97, 0.151) 1px;
// }
 
.top-button {

  background-color: #8BA4B4;
  padding: 7px;
  border-radius: 50%;
  height: 32px;
  width: 32px;

  &:hover {
    background-color: $primary;
  }

  .icon-text {
    background-image: url(../images/icons/6.0add_text.svg);
    background-size: contain;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background-position: 0 0;
  }
}

.icon-feedback { 
  background-image: url(../images/icons/6.0feedback.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  background-position: 0 0;
  pointer-events: none;

}

.header {
  position: static;
  .content{
    width: 100%;
  }
  .container{
    width: 100%;
  }
  .logo{
    width: 140px;
    margin: 0;
    padding: 0;
    height: auto;
  }
  .row{
    justify-content: center;
  }
  .btn{
    padding:8px 17px ;
    margin-top: 0px;

  }
 
    justify-content: center;
    border:transparent;
  text-align: center;
  .text {
    color: #2E3031;
    font-size: 14px;
    @include tablet {
      font-size: 0px
    }
    @include desktop-sm {
      font-size: 12px
    }
  }
 
  .row-fluid{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: center;
   @include tablet{
     justify-content: space-between;
   }
      &>div{
    margin: 15px 0; 
    height: 100%;
    width: auto;
    max-width: 100%;
    flex-basis: auto; 
    &:nth-child(2){
      flex-grow: 0;
    }
        @include tablet {
          padding: 0;
        }
      &:last-child{
        @include tablet {
         flex-grow: 2;
        flex-shrink: 0;
        margin-left: auto;
        }

         .row{
           @include tablet {
             justify-content: flex-end;
           }
           
         }

      }
  }
  }
  .visible-xs-block{
    color:$primary;
  }
}
.buttonsContainer{  
  margin: 0;
  font-size: 14px;
  display: none;
  @include tablet{
    display: block;
    margin-left: 20px !important;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    &>a {
      margin: 5px 10px;
    }
  }
  height: 100%;
}
#ORDER{
  background-color:$primary;
  border-color:$primary;
  text-transform:uppercase;
  font: normal normal bold 12px/17px 'Open Sans';
    letter-spacing: 0px;
  &:hover{
    background-color: transparent;
    color:$dark;
  }
  @include tablet{
    margin-bottom: 10px;
  }

}
 

#send-button {
  border: solid $primary 1px;
  color:$dark;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;

  &:hover {
    background-color: $primary;
    color: white;
  }
 
}

#review{
  &>div{
    width: 100%;
    flex-basis: 100%;
    max-width: 100%;
    @include tablet{
      width: 50%;
    }
  }

}