.blog-card {
	cursor: pointer;
	transition: .5s;
	

	&__container {
		margin: 0 -20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
	}

	@include tablet {
		flex-basis: 50%;
	}

	@include desktop-md {
		flex-basis: 33.33%;
	}


	padding:5px 20px;
	margin-bottom: 60px;

	&__img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 0;
		margin: 0;

		&__container {
			position: relative;
			height: 0px;
			padding-bottom: 70%;
			margin-bottom: 20px;
			width: 100%;
		}

		img  , picture{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__title {
		line-height: 1.4;
		font-weight: 600;
		letter-spacing: 0px;
		// font-family: Spectral;
		color: #2E3031;
		font-size: 24px;

		&:hover {
			color: #567C8B;
		}
	}

	&__description {
		font-size: 16px;
		line-height: 1.5;
	}

	&.showed {
		display: block;
		visibility: visible;
		opacity: 1;
		transform: scale(1);
	}
	&.hided {
		animation: animateOut 0.3s ease-out; 
		animation-fill-mode: forwards ;
		max-height: 600px;
		overflow: hidden;
		&.hided-safary-fix {
			display: none;
	}
	}

 

	@keyframes animateOut {
		from {
	 
		} 
		90%{
			max-height: 0px;   
			padding: 5px 20px; 
		}
		99%{ 
			position: relative;   
			padding: 0;
		}
		100%{
			 position: absolute; 
			max-height: 0px; 
			 opacity: 0; 
			margin: 0; 
			padding: 0;
			
		}
	}
 
}