.breadcrumbs{
    margin-top: 40px;
    width: 100%;
    text-align: center;
    ul{
        padding: 0;
        margin: 0;
        font-size: 0;

    }
    &__item{
        display: inline-block;
        font-size: 16px;
        line-height: 24px;
        font-family: 'Open Sans';
        letter-spacing: 0;
        color: #2E3031;
        a{   
          
            background-color: transparent;
            text-transform: uppercase;
            border: none; 
            transition:   .5s;
       
            
      
            &:hover {
              color: #567C8B;
              font-weight: 800; 
              text-shadow: 0px 0px 0px #567C8B;
              cursor: pointer;
            }
           
        &::after{
            content:' /  ';

        }


        }
        &:nth-last-child(1){
                    a::after{
                        content:" ";
                    }
        }
    }
}