.promobar{
    text-align: center; 
    min-height: 30px;
    @media (min-width:425px) {
        min-height:36px;
    }
    @media (min-width:768px) {
        min-height:24px;
    }

    p{
        transition: 0.5s; 
    }
  
}  
.promobar-hide{
    transform: scale(0); 
}
 
.pre-header{
    padding:5px 0;
}