//fonts variables
// $font-main: 'Roboto', sans-serif;

$font-size: 16px;
 
//size-variables
$mobile-sm: 320px;
$mobile-md: 425px;
$mobile-lg: 576px;
$tablet: 768px; 
$desktop-sm: 992px;
$desktop-md: 1024px;
$tabtoslide: 1200px;
$wide-screen-sm: 1280px;
$wide-screen-md: 1360px;
$wide-screen-lg: 1599px;

//color-variables
// $clr-primary: #825574;
// $clr-sub: #09354E;
$clr-black: #000000;
$clr-light: #ffffff; 
$primary:#567C8B;
@mixin tabtoslide {
	@media (min-width:1200px) {
		@content;
	}
}

