@import "media-mixins";
@import "variables.scss"; 

// <!-- example flip book -->

.container-flip {
    width: 150px;
    height: 150px;
    position: relative;
    perspective: 1300px;
    backface-visibility: hidden;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin: 50px auto 20px;
    @include mobile-md{
        width: 200px;
        height: 200px;
    }
    @include mobile-lg{
        width: 250px;
        height: 250px;
    }
    @include tablet{
        width: 300px;
        height: 300px;
        margin-bottom: 50px;
    }
    @include desktop-sm{
        width: 400px;
        height: 400px;
    }
    @include tabtoslide{
        width: 450px;
        height: 450px;
    }
    @include wide-screen-sm{
        width: 500px;
        height: 500px;
    }
    @include wide-screen-md{
        width: 600px;
        height: 600px;
    }
    @include wide-screen-lg{
        width: 700px;
        height: 700px;
    }
    &.shadow{
        &::after{
            position: absolute;
            width: 200%;
            height: 100%;
            top: 0;
            left: -50.5%;
            content: "";
            background-image: url('../images/large-square/shadow-open.png');  
            // background-image: url('../images/large-square/inner-page/inner_page_right_effect.png');   
            background-position: top left;
            background-repeat: no-repeat;
            background-size: cover;
            pointer-events: none;
            z-index: 9999;
        }
        &::before{
            position: absolute;
            width: 205%;
            height: 100%;
            bottom: -3px;
            left: -53%;
            content: "";
            background-image: url(../images/large-square/inner_page_botom_shadow_common.png);
            background-position: bottom center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: .7s;
            @include mobile-md{
                width: 204%;
                bottom: -5px;
                left: -52%;
            }
            @include tablet{
                bottom: -7px;
            }
            @include desktop-sm{
                bottom: -9px;
            }
            @include tabtoslide{
                bottom: -11px;
            }
            @include wide-screen-md{
                bottom: -13px;
            }
            @include wide-screen-lg{
                bottom: -16px;
            }
        }
    }
    &.landscape{
        width: 150px;
        height: 106px;
        @include mobile-md{
            width: 200px;
            height: 142.5px;
        }
        @include mobile-lg{
            width: 250px;
            height: 178px;
        }
        @include tablet{
            width: 300px;
            height: 212px; ////
            margin-bottom: 50px;
        }
        @include desktop-sm{
            width: 400px;
            height: 283px;
        }
        @include tabtoslide{
            width: 450px;
            height: 318px;
        }
        @include wide-screen-sm{
            width: 500px; ///
            height: 355px;
        }
        @include wide-screen-md{
            width: 600px;
            height: 424px; 
        }
        @include wide-screen-lg{
            width: 700px;
            height: 494px;
        }
        &.shadow{
            &::after{
                left: -50%;
            }
            &::before{
                bottom: -2px;
                @include mobile-md{
                    width: 204%;
                    bottom: -5px;
                    left: -52%;
                }
                @include tablet{
                    bottom: -6px;
                }
                @include desktop-sm{
                    bottom: -8px;
                }
                @include tabtoslide{
                    bottom: -9px;
                }
                @include wide-screen-md{
                    bottom: -12px;
                }
                @include wide-screen-lg{
                    bottom: -14px;
                }
            }
        }
    }
}
.click{
    pointer-events: none;
}
.page {
	position: absolute;
	-webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -ms-transition-property: -ms-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    cursor: pointer;

	width: 100%;
	height: 100%;
	left: 50%;
	-webkit-transform-origin: left center;
	transform-origin: left center;
    transition: transform 1s ease-in-out;
    &.next{
        transform: rotateY(-180deg);
    }
    &.prev{
        transform: rotateY(0deg);
    }
    &:first-child{
        width: 102%;
        height: 102%;
        top: -1%;
        .front{
            background-size: contain;
            background-repeat: no-repeat;
            background-position: top left;
            img{
                object-fit: fill;
            }
        }
        .back{
            box-shadow: 8px 6px 15px #c4c3c3;
            position: relative;
            &::after{
                position: absolute;
                width: 100px;
                height: 100%;
                content: "";
                top: 0;
                right: 0;
                background-image: url('../images/large-square/back_cover/back_spine_shadow.png');   
                background-position: top right;
                background-repeat: no-repeat;
                background-size: contain;
                z-index: 9999;
            }
        }
    }
    &:last-child{
        width: 102%;
        height: 102%;
        top: -1%;
        .back{
            background-size: contain;
            background-position: top right;
            background-repeat: no-repeat;
            img{
                object-fit: fill;
            }
        }
        .front{
            box-shadow: 8px 6px 15px #c4c3c3;
            position: relative;
            &::after{
                position: absolute;
                width: 100px;
                height: 100%;
                content: "";
                top: 0;
                left: 0;
                background-image: url('../images/large-square/front_cover/front_spine_shadow.png');   
                background-position: top left;
                background-repeat: no-repeat;
                background-size: contain;
                z-index: 9999;
            }
        }
    }
}
.back{
    overflow: hidden;
}
.front{
    overflow: hidden;
}

.page > div,
.outer,
.content,
.helper-class-to-make-bug-visbile {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
	backface-visibility: hidden;
}

.page > div {
	width: 100%;
	-webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.back {
	-webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}
.first-page{
    background-size: cover;
    .content{
        width: 98% ;
        height: 98% ;
        top: 1%;
        left: 2%;
    }
}
.last-page{
    background-size: cover;
    background-repeat: no-repeat;
    .content{
        width: 98% ;
        height: 98% ;
        top: 1%;
    }
}

.outer {
	width: 100%;
	overflow: hidden;
    z-index: 999;
    img{
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: none;
    }
}

/* problematic class: `.content` */
.content {
    width: 100%;
}

.front .content {
	left: 0;
}


// <!-- example flip book -->

.gallery{
    &__container{
        transition: all 0.4s;
        z-index: 1012;
        position: fixed; 
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; 
        display: flex;
        justify-content: center;
        align-items: center; 
        overflow: hidden;
    }

    &__close{
        border: solid black 1px;
        z-index: 1013;
        background-color: #fff;
        display: block;
        cursor: pointer;
        transition: 0.4s;
        position: absolute;
        right: 4%; 
        font-size: 0;
        height: 40px;
        width: 40px; 
        top: 4vh;
        @include wide-screen-md{
            top: 40px;
        }
        border-radius: 50%;
        &:hover{
            transform: rotate(180deg); 
        }
        
        &::before , &::after{ 
            position: absolute;
            left: 0;
            right: 0; 
            top:calc(50% - 1px); 
            content: ''; 
            font-size: 0;
            height: 2px; 
            padding:0 20%;
            background-color: rgb(0, 0, 0);
            background-clip: content-box;
        }
        &::after{
            transform: rotate(45deg);
        }
        &::before{
            transform: rotate(-45deg);
        }
    }
    &__background{
        background-color: white;
        position: absolute;
        top: 0;bottom: 0;right: 0;left: 0;
    }
    &__content{
        width: calc(100% - 20px); 
        @include tablet{
            width: calc(100% - 150px);  
        }  
        margin: 0 auto;
        overflow: hidden; 
            img{
                width: 100%;
            }
            .swiper-container{
                border: 5px solid #b6b6b6;
            }
    }

    &__next, &__prev{
        cursor: pointer;
        height: 86px;
        width: 86px;
        display: inline-block;
        position: relative;
        z-index: 2;
        @include mobile-lg{
        // @include tablet{
            position: absolute;
            top:calc(50% - 48px);
        }   

    }
    &__next{
        @include mobile-lg{
            right: -10px;
        }
        @include wide-screen-md{
            right: 10px; 
        }
    }
    &__prev{
        @include mobile-lg{
            left: -10px;
        }
        @include wide-screen-md{
            left: 10px; 
        }
    }
    &__fade{
        opacity: 0;
        pointer-events: none;
    }
    &__d-none{
        display: none;
    }
    &__item{
        background-color: $primary;
        height: 0;
        overflow: hidden;
        padding-bottom: calc(540 / 1043 * 100%);
    }
    &__image{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0; 
        right: 0;
        height: auto;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__controls{
        padding-top: 10px;
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: space-around;
        width: 320px;
        align-items: center;
    }
    &__fullscreen-open{
        transform: rotate(90deg);
        transform-origin: 0% 0%;
        width: 100vh;
        height: 100vw;
        left: 100vw;
        top: 0;
        bottom: 0;
        .gallery{
            &__next , &__prev{
                position: absolute;
                bottom: 0px;
            }
            &__next{
                right: 0px;
            }
            &__prev{
                left: 0px;
                
            }
            &__fullscreen-btn{
            z-index: 1014;
            position: absolute;
            right: 20px;
            top: 10px; 
            left: auto;
            transform: rotate(90deg);
            }
            &__close{
                left: 20px;
                top: 10px;
            }
            &__content{
                width: 80%;
            }
        } 
    }
    &__button{
        z-index: 1;
        position: relative;
        margin: 20px auto 0;
        text-align: center;
        @include tablet{
            margin: 30px auto 0;
        }
        @media screen and(max-height: 420px){
            margin: 10px auto 0;
        }
        .button{
            border-radius: 0;
            padding: 7px 15px;
            font-weight: 600;
            text-transform: none;
            @include tablet{
                font-size: 14px;
            }
            @include wide-screen-md{
                font-size: 16px;
            }
            @media screen and(max-height: 420px){
                padding: 10px 20px;
                font-size: 14px;
            }
        }
    }
}