@import "media-mixins";
@import "variables.scss"; 
@import "components/section-stock.scss";
html{
    scroll-behavior: smooth;
}
 

.photoselect {
   &__section *{
        transition:  0.4s;
    }
        &__header{
        padding: 48px 2px 42px;
        .logo{ 
            img{
                width: 120px;
                @include mobile-sm{
                    width: 150px;
                }
                @include tablet{
                    width: 195px;
                }
            } 
        }
    }
    &__container{
        @include tablet{
            .col-xl-4{
                padding: 0 5px;
            }
            max-width: 1295px !important;
        }
    }
    &__top{
        @include tablet{
            width: 100%;
            display: inline-flex; 
        }
    }
    &__left, &__right{
        @include tablet{
            width: 50%;
        }
    }
    &__left{
        padding-right: 30px;
    }
    &__right{
        @include tablet{
            text-align: right;
            padding-left: 30px;
        }
    }
    &__name{
        font-size: 20px;
        line-height: 32px;
        @include tablet{
            font-size: 24px;
        }
    }
    &__info{
        padding-bottom: 3px;
        background-color: transparent;
        border:none; 
        vertical-align: text-bottom;
    }
    &__sort{
        margin-bottom: 13px;
        label{
            margin-left: 10px;
        }
        span , strong{
            vertical-align: middle;
            line-height: 30px;
            font-size: 20px;
            @include tablet{
                font-size: 16px;
            }
        }
        .radio-circle{
            @include tablet{
                width: 22px;
                height: 22px;
            }
        }
    }
    &__radio-text{
        @include tablet{
        margin-left: 9px; 
        }  
    }
    &__buttons{ 
        border-bottom: 1px solid #575D61;  
        margin-bottom: 40px;
        &__wrap{
            display: flex;
            align-items: stretch;
            justify-content: flex-start;
        }  
    }   

    &__tab-button{
        margin-right: 18px;
        padding: 10px ; 
        font: normal normal 600 14px/26px "Open Sans";

        background-color: #575D6133;
        color: #2F353A;
        
        border: transparent;
    
        @include mobile-sm{
            min-width: 150px;
        }
        @include tablet{
            padding: 20px 10px;
            min-width: 200px;
            font-size: 18px;
        }
    }

    &__approve-button{
        margin-left: auto;  
        margin-bottom: 10px;
        position: absolute;
        top:29px;
        right: 20px;
        display: block;
        padding: 18px 35px;
        @include tablet{
            position: static;
            min-width: 300px;
        }
    }
 
    &__card{
        position: relative;
        max-width: 470px;
        margin-left: auto;
        margin-right: auto;
        height: 0;
        padding-bottom:(266/414)*100%;
        margin-bottom: 30px;
        @include tablet{
            margin-bottom: 10px;
        } 
        &:hover{
            .photoselect__overlay{
                opacity: 0;
            }
        }
    }
    &__img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        img{
            cursor: pointer; 
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__add , &__zoom , &__favorite{
        position: absolute; 
        height: 30px;
        width: 30px;
        border-radius: 50%; 
        border:transparent;
        padding: 0;
        background-color: #ffffff93;
        svg{
            border-radius: 50%;
            pointer-events: none;
        }
        &:hover{
         background-color: rgb(255, 255, 255);
        }
    }
    &__add{ 
        top: 20px;  
        right: 20px;
        svg{ 
            .c{
                stroke:rgb(0, 0, 0);stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;
                fill: none;
            }
        }
    }
    &__zoom{ 
        opacity: 0;
        pointer-events: none;
        right: 20px; 
        bottom: 20px; 
        svg{
            .b{  
                stroke: #2f353a;
                stroke-width: 2px;
            }
        }
    }
    &__favorite{ 
        opacity: 0;
        pointer-events: none;
        right: 70px; 
        bottom: 20px; 
        svg{
            .c{  
                fill:transparent;
                stroke:#2f353a;
                stroke-width: 2px; 
            } 
        }
        &.checked{
            background-color: #deb299;
            svg{
                .c{
                    fill:#fff;
                    stroke: #fff;
                    stroke-width: 1px;
                }
            }
        }
 
    }
    &__overlay{
        background-color: #fff;
        opacity: 0.7;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        pointer-events: none;
    }
    &__zoom{ 
        &__container{
            background-color: rgba(255, 255, 255, 0.925);
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            cursor: pointer;
            z-index: 15;
        }
        &__img{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__close{
            position: absolute;
            right: 30px;
            top:30px;
            background-color: transparent;
            border:none;
            font-size: 25px;
            color: rgba(255, 255, 255, 0.377);
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
            line-height: 1;
            padding: 10px; 
            &:hover{
                color: black;
            }

        }
    }
    &__go-top{
        svg{
            pointer-events: none;
         }
        &__container{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            @include tablet{
                padding: 20px;
            }
            
        }
        background-color: transparent;
        border-radius: 50%;
        padding:10px;  
        right:  20px;
        bottom: 20px;
        z-index: 5;
        &.fixed-lg{
            @include mobile-lg{
                   position: fixed;
            }
         

        }
        &:hover{
            background-color: $primary;
             svg{
                 .b{
                     
                     stroke: white;
                 }
             }
        }
    }

}





.selected{ 
    .photoselect{ 
        &__add{ 
            background-color: #47c48a;
            svg{
                .c{
                    stroke: white;
                }
            }
        }
        &__favorite{
            opacity: 1;
            pointer-events: all;
        }
        &__zoom{
            opacity: 1;
            pointer-events: all;
        }
        &__overlay{
            opacity: 0;
        }
    }
}
    .only-selected{
    .deselected{
        display: none;
    } 
        .photoselect__selected{
            background-color: #FCFCFC;
            border: 1px solid #575D61;  
            border-bottom: #FCFCFC;
            padding-top: 21px;
            position: relative;
            bottom: -1px;
            @include wide-screen-lg{
                bottom: -2px;
            }
          
        }
    }

    section:not(.only-selected) .photoselect__all{
        background-color: #FCFCFC;
        border: 1px solid #575D61;  
        border-bottom: #FCFCFC;
        position: relative;
        padding-top: 21px;
        bottom: -1px; 
        @include wide-screen-lg{
            bottom: -2px;
        }
       
    }
 
  .footer-to-bottom{
    min-height: 100vh;
      display: flex;
      flex-direction: column;
      main{
          flex-grow: 1;
      }
  }
 
 